<h1>User dashboard</h1>

<h1><%= @user.email %></h1>
<h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>

<h4>My games</h4>

<% @user.games.each do |game| %>
  <%= link_to game.id, game_path(game.id) %>
<% end %>
    

<h4>Open games</h4>

 <p><%= link_to 'Games available to join', root_path %></p>
               