
<h1><%= @game.name %></h1>


<div class="container">
  <div class="board">
    <% (1..8).each do |y| %>
      <div class="board-row board-row-<%= y %>">
        <% (1..8).each do |x| %>
          <div class="square square-<%= black_or_white(x, y) %>">
            <% @pieces.each do |piece| %>
              <% if piece.x_location == x && piece.y_location == y %>
                <%= link_to piece.type, piece_path(piece) %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>