
<h1><%= @game.name %></h1>


<div class="container">
  <div class="board">
    <% (1..8).each do |y| %>
      <div class="board-row board-row-<%= y %>">
        <% (1..8).each do |x| %>
          <div class="square square-<%= black_or_white(x, y) %>">
            <%= render_piece(@game.pieces, x, y) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>