// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$boardWidth: 600px;
$boardHeight: 600px;

.board {
  width: $boardWidth;
  height: $boardHeight + 10;
  border: 5px solid #848484;
  margin: 15px;
  color: #7f7f7f;
}

.board-row {
  display: flex;
}

.square {
  width: $boardWidth / 8;
  height: $boardHeight / 8;
}

.square-white {
  background-color: #fff;
}

.square-black {
  background-color: #000;
}

.square-highlight {
  background-color: #33FF39
}

.piece {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.piece[data-color="white"][data-type="Pawn"]:after {
  content: '\2659'
}

.piece[data-color="white"][data-type="King"]:after {
  content: '\2654'
}

.piece[data-color="white"][data-type="Queen"]:after {
  content: '\2655'
}

.piece[data-color="white"][data-type="Rook"]:after {
  content: '\2656'
}

.piece[data-color="white"][data-type="Bishop"]:after {
  content: '\2657'
}

.piece[data-color="white"][data-type="Knight"]:after {
  content: '\2658'
}

.piece[data-color="black"][data-type="Pawn"]:after {
  content: '\265F'
}

.piece[data-color="black"][data-type="King"]:after {
  content: '\265A'
}

.piece[data-color="black"][data-type="Queen"]:after {
  content: '\265B'
}

.piece[data-color="black"][data-type="Rook"]:after {
  content: '\265C'
}

.piece[data-color="black"][data-type="Bishop"]:after {
  content: '\265D'
}

.piece[data-color="black"][data-type="Knight"]:after {
  content: '\265E'
}